.main-container {
  padding: 20px;
  text-align: center;
}

.books-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  justify-items: center;
  padding: 20px;
}

.book {
  width: 150px;
  text-align: center;
}

.book-img {
  width: 100px;
  height: 150px;
  object-fit: cover;
}
.book-image {
  max-width: 100%;    
  height: auto;     
  margin-bottom: 20px; 
}

.book-info {
  text-align: center; 
}

.book-title {
  font-size: 14px;
  margin-top: 8px;
}

.book-details-container {
  display: flex;
  flex-direction: column; 
  margin: 0 auto; 
  padding: 20px; 
  box-sizing: border-box; /
}

.book-detail-img {
  width: 200px;
  height: 300px;
  object-fit: cover;
}

.nav {
  display: flex;
  gap: 16px;
  padding: 10px;
  background-color: #222;
  color: white;
  justify-content: center;
}

.nav a {
  color: white;
  text-decoration: none;
}
